/Proyectos/Unidad-1/MVC/nbproject/private/
/Proyectos/Unidad-1/02-ProblemaSAT/nbproject/private/
/Proyectos/Unidad-1/MVC/build/
/Proyectos/Unidad-1/MVC/dist/
/Proyectos/Unidad-1/02-ProblemaSAT/build/
/Proyectos/Unidad-1/02-ProblemaSAT/dist/
/Proyectos/Unidad-1/03-ProblemaTSP/nbproject/private/
/Proyectos/Unidad-1/03-ProblemaTSP/dist/
/Proyectos/Unidad-1/03-ProblemaTSP/build/
/Proyectos/Unidad-1/04-TSPGrafico/nbproject/private/
/Proyectos/Unidad-1/04-TSPGrafico/dist/
/Proyectos/Unidad-1/04-TSPGrafico/build/
