/Proyectos/Unidad-1/MVC/nbproject/private/
/Proyectos/Unidad-1/02-ProblemaSAT/nbproject/private/
/Proyectos/Unidad-1/MVC/build/
/Proyectos/Unidad-1/MVC/dist/
/Proyectos/Unidad-1/02-ProblemaSAT/build/
/Proyectos/Unidad-1/02-ProblemaSAT/dist/
/Proyectos/Unidad-1/03-ProblemaTSP/nbproject/private/
/Proyectos/Unidad-1/03-ProblemaTSP/dist/
/Proyectos/Unidad-1/03-ProblemaTSP/build/
/Proyectos/Unidad-1/04-TSPGrafico/nbproject/private/
/Proyectos/Unidad-1/04-TSPGrafico/dist/
/Proyectos/Unidad-1/04-TSPGrafico/build/
/Proyectos/Unidad-2/01BusquedaRompecabezas/build/
/Proyectos/Unidad-2/01BusquedaRompecabezas/dist/
/Proyectos/Unidad-2/01BusquedaRompecabezas/nbproject/private/
/Proyectos/Unidad-2/02PlaneacionRutas/build/
/Proyectos/Unidad-2/02PlaneacionRutas/dist/
/Proyectos/Unidad-2/02PlaneacionRutas/nbproject/private/
/Proyectos/Unidad-2/03ColoreoGrafo/build/
/Proyectos/Unidad-2/03ColoreoGrafo/dist/
/Proyectos/Unidad-2/03ColoreoGrafo/nbproject/private/
/Proyectos/Unidad-2/04NReinas/build/
/Proyectos/Unidad-2/04NReinas/dist/
/Proyectos/Unidad-2/04NReinas/nbproject/private/
/Unidad-02/Unidad2-proyectos/01BusquedaRompecabezas/build/
/Unidad-02/Unidad2-proyectos/01BusquedaRompecabezas/dist/
/Unidad-02/Unidad2-proyectos/01BusquedaRompecabezas/nbproject/private/
/Unidad-02/Unidad2-proyectos/02PlaneacionRutas/build/
/Unidad-02/Unidad2-proyectos/02PlaneacionRutas/dist/
/Unidad-02/Unidad2-proyectos/02PlaneacionRutas/nbproject/private/
/Unidad-02/Unidad2-proyectos/03ColoreoGrafo/build/
/Unidad-02/Unidad2-proyectos/03ColoreoGrafo/dist/
/Unidad-02/Unidad2-proyectos/03ColoreoGrafo/nbproject/private/
/Unidad-02/Unidad2-proyectos/04NReinas/build/
/Unidad-02/Unidad2-proyectos/04NReinas/dist/
/Unidad-02/Unidad2-proyectos/04NReinas/nbproject/private/
